<!DOCTYPE html>
<html>
<body>
<!DOCTYPE html>
<html>
<style >
body {
  background-color: #ffff70;
  max-width: 500px;
  margin: auto;
  align-items: center;
	justify-content: center;
	text-align: center;
  color: black;
}
</style>
<body>
<img src="https://image.flaticon.com/icons/svg/1596/1596833.svg" height="50" width="50">

<h1> <p><ins> Lets see whats Peepin' </ins><p></h1>
<% @peep.each do |peep| %>
<h3>
  <li>
    "<%= peep.peep.upcase%>" 
    <h5> <p> <ins><%= peep.created_at[11..18]%> <%= peep.created_at[5...10]%>-<%= peep.created_at[0...4]%></ins><p>
      Screams: <%= @user[peep.user_id.to_i].username%>
    </h5> 
    </a>
  </li>
  <% end %>
</h3>

</body>
</html>